@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dobrodošli!</h1>
    <p>Ova stranica ima liste restorana i jela. Možeš i ti lično da dodaš/izbrišeš/vidiš detalje o svakom restoranu ili jelu.</p>
    <p>Kada klikneš na ovo dugme, dobit ćeš predlog nekog nasumično odabranog jela.</p>
    <a asp-action="RandomJelo" asp-controller="Jela">Predloži</a>

</div>
